<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Entity\User|null $user
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $requestables
 * @var \Access\Form\Site\AccessRequestForm $form
 * @var string $requestType
 */

// Don't display the form if there is nothing to request.
if (!count($requestables)): ?>
    <p><?= $this->translate('You already have access to the resource. Go back to the previous page to see it.') ?></p>
    <?php return;
endif;

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$setting = $plugins->get('setting');
$assetUrl = $plugins->get('assetUrl');
$escapeAttr = $plugins->get('escapeHtmlAttr');

$user = $this->identity();
$accessModes = $setting('access_modes', []);
$allowIndividualRequests = (bool) array_intersect(['user', 'email', 'token'], $accessModes);

$this->headLink()
    ->appendStylesheet($assetUrl('css/access-request.css', 'Access'));
$this->headScript()
    ->appendFile($assetUrl('js/access-request.js', 'Access'), 'text/javascript', ['defer' => 'defer']);

$formSubmitUrl = $url('site/access-request/default', ['action' => 'submit'], true);
$form->setAttribute('action', $formSubmitUrl);

$parts = [];
if ($user) {
    if ($allowIndividualRequests) {
        $parts['form'] = 'form';
    } else {
        $parts['message'] = 'message';
    }
} else {
    if ($allowIndividualRequests) {
        if (in_array('email', $accessModes) || in_array('token', $accessModes)) {
            $parts['form'] = 'form';
        }
        if (in_array('user', $accessModes)) {
            $parts['login'] = 'login';
        }
    }
}

if ($form) {
    $form->prepare();
    $formRow = $this->plugin('formRow');
}
?>

<?php if ($messages = $this->messages()): ?>
<div class="list-messages">
    <?= $messages ?>
</div>
<?php endif; ?>

<?php if (in_array('message', $parts)): ?>
    <div>
        <?= $setting('access_message_access_text') ?>
    </div>
<?php endif; ?>

<?php if (in_array('form', $parts)): ?>
    <?php // Le design est très spécifique. ?>

<?= $this->form()->openTag($form) ?>

<?= $form->has('o:name') ? $formRow($form->get('o:name')) : '' ?>

<?= $form->has('fields[prenom]') ? $formRow($form->get('fields[prenom]')) : '' ?>

<?= $formRow($form->get('o:email')) ?>

<?= $form->has('fields[url]') ? $formRow($form->get('fields[url]')) : '' ?>

<?= $formRow($form->get('o:message')->setLabel('Motif de la demande')) ?>

<?php if ($form->has('fields[profil]')):
    $profil = $form->get('fields[profil]');
    $valueOptions = $profil->getLabel();
    $array = array_map('trim', explode('=', $valueOptions));
    $label = $array[0] ?? 'Profil';
    $valueOptions = empty($array[1]) ? [] : array_map('trim', explode(',', $array[1]));
    $valueOptions = array_combine($valueOptions, $valueOptions);
    $select = new \Laminas\Form\Element\Select('fields[profil]');
    $select
        ->setLabel($label)
        ->setValueOptions($valueOptions)
        ->setOptions(['empty_option' => ''])
    ;
    ?>
    <?= $formRow($select); ?>
<?php endif; ?>

<?= $form->has('fields[autre_statut]') ? $formRow($form->get('fields[autre_statut]')) : '' ?>

<?= $form->has('fields[discipline_de_recherche]') ? $formRow($form->get('fields[discipline_de_recherche]')) : '' ?>

<?php if ($form->has('fields[commentaire]')):
    $textArea = new \Laminas\Form\Element\Textarea('fields[commentaire]');
    $textArea
        ->setLabel('Commentaire')
    ?>
    <?= $formRow($textArea); ?>
<?php endif; ?>

<div style="display:none;">
<?= $formRow($form->get('o:resource')
        ->setValue(array_flip($form->get('o:resource')->getValueOptions()))
        ->removeAttribute('required')) ?>
</div>

<?php
$consent = $form->get('consent');
if (strpos($consent->getLabel(), '<') !== false) $consent->setLabelOption('disable_html_escape', true);
?>
<?= $formRow($consent) ?>

<?= $form->has('csrf') ? $formRow($form->get('csrf')) : '' ?>

<input type="hidden" name="request_uri" value="<?= $escapeAttr($_SERVER['REQUEST_URI']) ?>"/>

<?= $formRow($form->get('submit')) ?>

<?= $this->form()->closeTag() ?>

<?php endif?>
