<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var string $format
 * @var bool $append_site
 * @var bool $append_date
 * @var bool $bibliographic
 * @var string $tag
 * @var bool $as_text
 */

/*
Citer ce document
Nom de l'auteur, "titre de l'item", date created, source + cote, consulté le JJ mois AAAA.
*/

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');

// Attention : bibliographic est prioritaire ici.
$mode = 'list';
$format = '';
$appendSite = !empty($append_site);
$appendDate = !empty($append_date);
$bibliographic = !empty($bibliographic);
$tag = empty($tag) ? '' : $tag;
$asText = !empty($as_text);

// Format: only Chicago is managed.

$citation = '';

$creators = $resource->value('dcterms:creator', ['all' => true]) ?: [];
// Strip formatting and remove empty creator elements.
$creators = array_values(array_filter(array_map('strip_tags', $creators)));
if ($creators) {
    switch (count($creators)) {
        case 1:
            $creator = $creators[0];
            break;
        case 2:
            // Chicago-style item citation: two authors.
            $creator = sprintf($translate('%1$s and %2$s'), $creators[0], $creators[1]);
            break;
        case 3:
            // Chicago-style item citation: three authors.
            $creator = sprintf($translate('%1$s, %2$s, and %3$s'), $creators[0], $creators[1], $creators[2]);
            break;
        default:
            // Chicago-style item citation: more than three authors.
            $creator = sprintf($translate('%s et al.'), $creators[0]);
            break;
    }
    $citation .= $creator;
}

$title = $resource->displayTitle();
$citation .= ($citation ? ', ' : '') . '“' . $title . '”';

if ($bibliographic) {

    $publisher = $resource->value('dcterms:publisher');
    if ($publisher) {
        $citation .= $asText ? ', ' . $publisher : ', <i>' . $publisher . '</i>';
    }

    $date = $resource->value('dcterms:date');
    if ($date) {
        $citation .= ', ' . $date;
    }

} elseif ($mode === 'list') {

    /*
    $publisher = $resource->value('dcterms:publisher');
    if ($publisher) {
        $citation .= ', ' . $publisher;
    }

    $portail = $this->setting('installation_title');
    if ($portail) {
        $citation .= ', ' . $this->setting('installation_title');
        $citation .= ' [' . $translate('online') . ']';
    } else {
        $citation .= ', [' . $translate('online') . ']';
    }
    */

    $date = $resource->value('dcterms:date');
    if ($date) {
        $citation .= ', ' . $date;
    }
    $date = $date ? null : $resource->value('dcterms:created');
    if ($date) {
        $citation .= ', ' . $date;
    }

    $sources = $resource->value('dcterms:source', ['all' => true]) ?: [];
    // Strip formatting and remove empty elements.
    $sources = array_values(array_filter(array_map('strip_tags', $sources)));
    if ($sources) {
        switch (count($sources)) {
            case 1:
                $source = $sources[0];
                break;
            case 2:
                $source = sprintf('%1$s, %2$s', $sources[0], $sources[1]);
                break;
            case 3:
            default:
                // $source = implode(', ', $sources);
                $source = sprintf('%1$s, %2$s', $sources[0], $sources[1]);
                break;
        }
        $citation .= ', ' . $source;
    }

    /*
    if ($appendSite) {
        $online = $escape($this->i18n()->dateFormat($resource->created(), 'medium'));
        $citation .= ', ' . sprintf($translate('put online %1$s'), $online);
    }
    */

    if ($appendDate) {
        $consulted = $escape($this->i18n()->dateFormat(new \DateTime(), 'medium'));
        $citation .= '. ' . sprintf($translate('Consulté le %1$s'), $consulted);
    }

    $url = $resource->siteUrl(null, true);
    // $citation .= ', ' . '<span class="citation-url item-info-quote-url">' . $url . '</span>';
    $citation .= $asText
        ? ', ' . $url
        : ', ' . '<a class="citation-url item-info-quote-url" href="' . $url . '">' . $url . '</a>';

} else {

    if ($appendSite) {
        $site = $this->currentSite();
        if ($site) {
            $citation .= $asText ? ', ' . $site->title() : ', <i>' . $site->title() . '</i>';
        }
    }

    $url = $as_text
        ? $resource->url(null, true)
        : '<span class="citation-url">' . $escape($resource->url(null, true)) . '</span>';
    if ($appendDate) {
        $accessed = $escape($this->i18n()->dateFormat(new \DateTime(), 'medium'));
        // Chicago-style item citation: access date and URL.
        $citation .= ', ' . sprintf($translate('accessed %1$s, %2$s'), $accessed, $url);
    } else {
        // $citation .= ', ' . '<span class="citation-url item-info-quote-url">' . $url . '</span>';
        $citation .= $asText ? ', ' . $url : ', ' . '<a class="citation-url item-info-quote-url" href="' . $url . '">' . $url . '</a>';
    }

}

// User may copy the dot with the url...
// $citation .= '.';

$tag = trim($tag);
echo empty($tag) ? $citation : "<$tag class=\"citation\">$citation</$tag>";
