<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $objectResource
 * @var array $subjectValues
 * @var array $resourceType
 * @var array $resourcePropertiesAll
 * @var int $totalCount
 * @var int $page
 * @var int $perPage
 * @var int $resourceProperty
 */

// linked-resource, search/result and item/browse are similar.

use Laminas\Form\Element\Select;

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$site = $this->currentSite();

$accessStatus = $plugins->has('accessStatus') ? $plugins->get('accessStatus') : null;

// Set up pagination.
$pagination = $this->pagination(null, $totalCount, $page, $perPage);
$fragment = 'resources-linked';
$pagination->setFragment($fragment);

// Set up locale.
$siteSlug = $site ? $site->slug() : null;

$filterLocale = (bool) $siteSetting('filter_locale_values');
$siteLang = $plugins->get('lang')();
$lang = $filterLocale ? $siteLang : null;
$langValue = $filterLocale ? [$siteLang, ''] : null;
$untitled = $translate('[Untitled]');

// Set up resource property select.
$labelMap = [
    'items' => 'Items', // @translate
    'item_sets' => 'Item sets', // @translate
    'media' => 'Media', // @translate
];
$resourcePropertiesSelect = new Select('resource_property');
$resourcePropertiesSelect->setValue($resourceProperty);
$resourcePropertiesSelect->setAttributes([
    'id' => 'resource-property-select',
    'data-url' => $url(null, [], true),
    'data-fragment' => $fragment,
]);
$valueOptions = [];
foreach ($resourcePropertiesAll as $type => $resourceProperties) {
    if (!$resourceProperties) {
        continue;
    }
    $valueOptions[$type] = [
        'label' => $labelMap[$type],
        'options' => [sprintf('%s:', $type) => sprintf('%s: All', $labelMap[$type])],
    ];
    foreach ($resourceProperties as $resourceProperty) {
        $key = sprintf('%s:%s', $type, $resourceProperty['id_concat'] ?? $resourceProperty['property_id'] ?? $resourceProperty['id']);
        $value = empty($resourceProperty['property_alternate_label'])
            ? $translate($resourceProperty['property_label'] ?? $resourceProperty['label'])
            : $translate($resourceProperty['property_alternate_label']);
        $valueOptions[$type]['options'][$key] = sprintf('%s: %s', $labelMap[$type], $value);
    }
}
$resourcePropertiesSelect->setValueOptions($valueOptions);

$headingTerm = $siteSetting('browse_heading_property_term');
$bodyTerm = $siteSetting('browse_body_property_term');

$defaultThumbnail = '<img src="' . $assetUrl('thumbnails/default.png', 'Omeka', true) . '" title="' . $translate('No media') . '"/>';
?>

<div id="linked-resources">

    <div class="linked-header">
        <div id="linked-filter">
            <label>
                <?= $translate('Filter by resource type and property:') ?>
                <?= $this->formElement($resourcePropertiesSelect) ?>
            </label>
        </div>
        <?= $pagination ?>
    </div>

    <?php foreach ($subjectValues as $values):
        $caption = sprintf(
            $translate('%s with "%s: %s"'),
            $translate($labelMap[$resourceType]),
            $values[0]['property_alternate_label'] ?? $translate($values[0]['property_label']),
            $objectResource->displayTitle()
        );
    ?>
    <div>
        <div class="linked-resource-property"><?= $escape($caption) ?></div>
        <ul class="resource-list search-results-list grid">
            <?php foreach ($values as $value):
                $resource = $value['val']->resource();
                $resourceUrl = $resource->siteUrl($siteSlug);
                $resourceType = $resource->resourceName();
                $resourceThumbnail = $thumbnail($resource, 'medium') ?: $defaultThumbnail;
                $heading = $headingTerm ? $resource->value($headingTerm, ['lang' => $langValue]) : null;
                $heading = $heading ? $heading->asHtml() : $escape($resource->displayTitle($untitled, $lang));
                $body = $bodyTerm ? $resource->value($bodyTerm, ['lang' => $langValue]) : null;
                $body = $body ? $body->asHtml() : $escape($resource->displayDescription(null, $lang));
            ?>
            <li class="linked-resource resource <?= $resourceType ?>">
                <div class="resource-thumbnail">
                    <?= $hyperlink->raw($resourceThumbnail, $resourceUrl, ['class' => 'resource-link']) ?>
                </div>
                <div class="access-status">
                    <?php if ($accessStatus): ?>
                        <?php $accessResource = $accessStatus($resource); ?>
                        <?php if ($accessResource): ?>
                        <span class="<?= $accessResource->level() ?>" aria-label="<?= $translate($accessResource->displayLevel()) ?>"><?= $translate($accessResource->displayLevel()) ?></span>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div class="resource-class">
                    <?php if ($resourceClassLabel = $resource->displayResourceClassLabel()): ?>
                    <span class="<?= $resource->resourceClass()->term() ?>" aria-label="<?= $translate($resourceClassLabel) ?>"><?= $translate($resourceClassLabel) ?></span>
                    <?php endif; ?>
                </div>
                <div class="resource-metadata resource-meta">
                    <h4><?= $resource->linkRaw($heading) ?></h4>
                    <div class="description">
                        <?= $body ?>
                    </div>
                </div>
                <div class="date">
                    <?php if ($value = $resource->value('dcterms:date')): ?>
                    <?= $escape($value) ?>
                    <?php endif; ?>
                </div>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php endforeach; ?>

    <?= $totalCount > $perPage ? '<div class="linked-footer">' . $pagination . '</div>' : '' ?>

</div>

<script>
const propertySelect = $('#resource-property-select');
const url = propertySelect.data('url');
const fragment = propertySelect.data('fragment');
propertySelect.on('change', function(e) {
    const selectedOption = propertySelect.find(':selected');
    const resourceProperty = selectedOption.val();
    window.location = url + '?' + $.param({resource_property: resourceProperty}) + '#' + fragment;
});
</script>
