<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Mapping\Api\Representation\MappingFeatureRepresentation $feature
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
$escapeAttr = $plugins->get('escapeHtmlAttr');

$item = $feature->item();
$media = $feature->media();
$label = $feature->label();
?>

<div class="mapping-feature-popup-content" style="display:none;"
    data-item-id="<?= $escape($item->id()) ?>"
    data-feature-id="<?= $escape($feature->id()) ?>"
    data-feature-geography="<?= $escapeAttr(json_encode($feature->geography())) ?>"
>
    <?php if ($label): ?>
    <h3><?= $escape($label) ?></h3>
    <?php endif; ?>
    <?php if ($media): ?>
    <?= $thumbnail($media, 'medium') ?>
    <div>
        <?= sprintf($translate('Media: %s'), $media->link($media->displayTitle(null, $this->lang()), null, ['target' => '_blank'])) ?>
    </div>
    <?php endif; ?>
    <div>
        <?= sprintf($translate('Item: %s'), $item->link($item->displayTitle(null, $this->lang()), null, ['target' => '_blank'])) ?>
    </div>
</div>
