<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var array $values
 * @var array $templateProperties
 *
 * Options:
 * TODO Utiliser un événement pour filtrer les valeurs sans passer par la modification du thème. Advanced Resource Template (groups?) ou ThemeFunctions?
 * @var bool $selected
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$siteSetting = $plugins->get('siteSetting');
$themeSetting = $plugins->get('themeSetting');

$labelInfo = $siteSetting('property_label_information');
$showLocale = (bool) $siteSetting('show_locale_label', true);
$filterLocale = $siteSetting('filter_locale_values');
$lang = $this->lang();
$showValueAnnotations = (bool) $siteSetting('show_value_annotations', false);

$selected = !empty($selected);
if (!empty($selected)) {
    $selected = $themeSetting('item_property_selected', false) ?: false;
    if ($selected) {
        $selected = array_fill_keys($selected, true);
    }
}

?>

<dl>
<?php foreach ($values as $term => $propertyData): ?>
    <?php if ($selected && !isset($selected[$term])) continue; ?>
    <div class="property">
        <dt>
        <?php if ($propertyData['alternate_label']): ?>
        <?php echo $escape($propertyData['alternate_label']); ?>
        <?php else: ?>
        <?php echo $escape($translate($propertyData['property']->label())); ?>
        <?php endif; ?>
        <?php if ('term' === $labelInfo): ?>
        <span class="field-term">(<?php echo $escape($propertyData['property']->term()); ?>)</span>
        <?php elseif ('vocab' === $labelInfo): ?>
        <span class="field-term">(<?php echo $escape($propertyData['property']->vocabulary()->label()); ?>)</span>
        <?php endif; ?>
        </dt>
        <?php foreach ($propertyData['values'] as $value): ?>
        <?php
        $valueType = $value->type();
        $valueLang = $value->lang();
        $valueAnnotation = $value->valueAnnotation();
        $class = ['value'];
        if ('resource' == $valueType || strpos($valueType, 'resource') !== false) {
            $class[] = 'resource';
            $class[] = $escape($value->valueResource()->resourceName());
        } elseif ('uri' == $valueType) {
            $class[] = 'uri';
        }
        ?>
        <?php if ((!$filterLocale) || ($valueLang == '') || (strcasecmp($valueLang, $lang) == 0)): ?>
        <dd class="<?php echo implode(' ', $class); ?>" lang="<?php echo $escape($valueLang); ?>">
            <?php if ($showLocale && $valueLang): ?>
            <span class="language"><?php echo $valueLang; ?></span>
            <?php endif; ?>
            <span class="value-content"><?php echo $filterLocale ? $value->asHtml($lang) : $value->asHtml(); ?></span>
            <?php if(!$value->isPublic()): ?>
                <span class="o-icon-private" aria-role="tooltip" title="<?php echo $this->escapeHtml($translate('Private')); ?>" aria-label="<?php echo $this->escapeHtml($translate('Private')); ?>"></span>
            <?php endif; ?>
            <?php if ($valueAnnotation && $showValueAnnotations): ?>
                <a href="#" class="expand" aria-label="<?php echo $this->escapeHtml($translate('Expand')); ?>">
                    <span class="has-annotation o-icon-annotation" aria-role="tooltip" title="<?php echo $this->escapeHtml($translate('Has annotation')); ?>" aria-label="<?php echo $this->escapeHtml($translate('Has annotation')); ?>"></span>
                </a>
                <div class="collapsible annotation">
                    <?php echo $valueAnnotation->displayValues(); ?>
                </div>
            <?php endif; ?>
            <?php $this->trigger('view.show.value', ['value' => $value]); ?>
        </dd>
        <?php endif; ?>
            <?php endforeach; ?>
    </div>
<?php endforeach; ?>
</dl>
