<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $itemSets
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $resources
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->headScript()->appendFile($this->assetUrl('js/browse.js'));

$filterLocale = (bool) $siteSetting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$lang, ''] : null;

$this->htmlElement('body')->appendAttribute('class', 'item-set resource browse');
?>

<?= $this->pageTitle($translate('Item sets'), 2) ?>

<?= $this->searchFilters() ?>

<?php
    $layoutSetting = $this->themeSetting('browse_layout', 'grid');
    $gridState = ($layoutSetting == 'togglegrid') ? 'disabled' : '';
    $listState = ($layoutSetting == 'togglelist') ? 'disabled': '';
    $currentLayout = (strpos($layoutSetting, 'grid') !== false) ? 'grid' : 'list';
?>

<?php if ($breadcrumbs): ?>
    <?= $breadcrumbs() ?>
<?php else: ?>
<nav id="breadcrumb" class="breadcrumbs">
    <ul>
        <li><?= $hyperlink($translate('Home'), $site->siteUrl()) ?></li>
        <li><span><?= $translate('Collections') ?></span></li>
    </ul>
</nav>
<?php endif; ?>

<div class="browse-controls">
    <?= $this->pagination() ?>
    <?= $this->hyperlink($translate('Advanced search'), $this->url(null, ['action' => 'search'], true), ['class' => 'advanced-search']) ?>
    <?php if (strpos($layoutSetting, 'toggle') !== false): ?>
    <div class="layout-toggle">
        <button type="button" aria-label="<?php echo $translate('Grid'); ?>" class="grid o-icon-grid" <?php echo $gridState; ?>></button>
        <button type="button" aria-label="<?php echo $translate('List'); ?>" class="list o-icon-list" <?php echo $listState; ?>></button>
    </div>
    <?php endif; ?>
</div>

<?php $this->trigger('view.browse.before'); ?>
<ul class="resource-list <?php echo $currentLayout; ?>">
<?php
$headingTerm = $siteSetting('browse_heading_property_term');
$bodyTerm = $siteSetting('browse_body_property_term');
foreach ($itemSets as $itemSet):
    $heading = $headingTerm ? $itemSet->value($headingTerm, ['default' => $translate('[Untitled]'), 'lang' => $langValue]) : $itemSet->displayTitle(null, $langValue);
    $body = $bodyTerm ? $itemSet->value($bodyTerm, ['lang' => $langValue]) : $itemSet->displayDescription(null, $langValue);
    /*
    $linkContent = sprintf('%s<span class="resource-name">%s</span>',
        $thumbnail($itemSet, 'medium'),
        $escape($heading));
    */
?>
    <li class="item-set resource">
        <div class="resource-thumbnail">
            <?= $itemSet->linkRaw($thumbnail($itemSet, 'medium'), null, ['class' => 'resource-link thumbnail']) ?>
        </div>
        <div class="resource-meta">
            <span class="resource-name"><?= $itemSet->link($heading) ?></span>
            <?php if ($body): ?>
            <div class="description"><?= $escape($body) ?></div>
            <?php endif; ?>
        </div>
    </li>
<?php endforeach; ?>
</ul>
<?php $this->trigger('view.browse.after'); ?>
<?= $this->pagination() ?>
