<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation[] $items
 * @var \Omeka\Api\Representation\ItemRepresentation[] $resources
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$accessStatus = $plugins->has('accessStatus') ? $plugins->get('accessStatus') : null;
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$filterLocale = (bool) $siteSetting('filter_locale_values');
$lang = $this->lang();
$langTitle = $filterLocale ? [$lang, ''] : null;
$langValue = $filterLocale ? [$lang, ''] : null;

if(isset($itemSet)) {
    $this->headLink()->prependStylesheet($assetUrl('css/resource-page-blocks', 'Omeka'));
}
$this->headScript()->appendFile($assetUrl('js/browse.js'));

$this->htmlElement('body')->appendAttribute('class', 'item resource browse');

$query = $this->params()->fromQuery();
?>

<?php if ($breadcrumbs): ?>
    <?= $breadcrumbs() ?>
<?php else: ?>
<nav id="breadcrumb" class="breadcrumbs">
    <ul>
        <li><?= $hyperlink($translate('Home'), $site->siteUrl()) ?></li>
        <?php if (isset($itemSet)): ?>
        <li><span><?= $translate('Collections') ?></span></li>
        <li><span><?= $escape($itemSet->displayTitle(null, $langTitle)) ?></span></li>
        <?php else: ?>
        <li><span><?= $escape($translate('Search')) ?></span></li>
        <?php endif; ?>
    </ul>
</nav>
<?php endif; ?>

<?php if (isset($itemSet)): ?>

    <?php
    $this->htmlElement('body')->appendAttribute('class', 'item-set show');
    $query['item_set_id'] = $itemSet->id();
    ?>

    <?php if ($itemSetAssetUrl = $itemSet->thumbnailDisplayUrl('large')): ?>
    <div class="item-set-thumbnail">
        <img src="<?= $escape($itemSetAssetUrl) ?>"/>
    </div>
    <?php endif; ?>

    <div class="back-to-item-sets">
        <?= $hyperlink($translate('Retour aux collections'), $siteSetting('menu_breadcrumbs_collections_url') ?:$url('site/resource', ['site-slug' => $site->slug(), 'controller' => 'item-set'])) ?>
    </div>

    <?= $this->pageTitle($itemSet->displayTitle(null, $langValue), 2) ?>
    <h3><?= $translate('Item Set') ?></h3>
    <div class="resource-metadata">
        <?= $this->resourcePageBlocks($itemSet)->getBlocks() ?>
    </div>
    <?= $this->pageTitle($translate('Items'), 3) ?>
<?php else: ?>
    <?= $this->pageTitle($translate('Items'), 2) ?>
<?php endif; ?>

<?= $this->searchFilters() ?>

<?php
    $layoutSetting = $this->themeSetting('browse_layout', 'grid');
    $gridState = ($layoutSetting == 'togglegrid') ? 'disabled' : '';
    $listState = ($layoutSetting == 'togglelist') ? 'disabled': '';
    $currentLayout = (strpos($layoutSetting, 'grid') !== false) ? 'grid' : 'list';
?>
<div class="browse-controls">
<<<<<<< HEAD
    <?= $this->pagination() ?>
    <?= $this->hyperlink($translate('Advanced search'), $this->url('site/resource', ['controller' => 'item', 'action' => 'search'], ['query' => $query], true), ['class' => 'advanced-search']) ?>
    <?= $this->browse()->renderSortSelector('items') ?>
=======
>>>>>>> upstream/master
    <?php if (strpos($layoutSetting, 'toggle') !== false): ?>
    <div class="layout-toggle">
        <button type="button" aria-label="<?= $translate('Grid'); ?>" class="grid o-icon-grid" <?= $gridState ?>></button>
        <button type="button" aria-label="<?= $translate('List'); ?>" class="list o-icon-list" <?= $listState ?>></button>
    </div>
    <?php endif; ?>
    <?php echo $this->hyperlink($translate('Advanced search'), $this->url('site/resource', ['controller' => 'item', 'action' => 'search'], ['query' => $query], true), ['class' => 'advanced-search']); ?>
    <?php echo $this->pagination(); ?>
    <?php echo $this->browse()->renderSortSelector('items'); ?>
</div>
<?php $this->trigger('view.browse.before'); ?>
<ul class="resource-list <?= $currentLayout ?>">
    <?php
    $headingTerm = $siteSetting('browse_heading_property_term');
    $bodyTerm = $siteSetting('browse_body_property_term');
    ?>

    <?php // linked-resource, search/result and item/browse are similar. ?>
    <?php foreach ($items as $item): ?>
    <?php
    $resource = $item;
    $heading = $headingTerm ? $item->value($headingTerm, ['default' => $translate('[Untitled]'), 'lang' => $langValue]) : $item->displayTitle(null, $langValue);
    $body = $bodyTerm ? $item->value($bodyTerm, ['lang' => $langValue]) : $item->displayDescription(null, $langValue);
    /*
    $linkContent = sprintf('%s<span class="resource-name">%s</span>',
            $thumbnail($item, 'medium', ['class' => 'thumbnail']),
            $escape($heading));
    */
    ?>
    <li class="item resource">
        <div class="resource-thumbnail">
            <?= $item->linkRaw($thumbnail($item, 'medium'), null, ['class' => 'resource-link thumbnail']) ?>
        </div>
        <div class="access-status">
            <?php if ($accessStatus): ?>
                <?php $accessResource = $accessStatus($resource); ?>
                <?php if ($accessResource): ?>
                <span class="<?= $accessResource->level() ?>" aria-label="<?= $translate($accessResource->displayLevel()) ?>"><?= $translate($accessResource->displayLevel()) ?></span>
                <?php endif; ?>
            <?php endif; ?>
        </div>
        <div class="resource-class">
            <?php if ($resourceClassLabel = $resource->displayResourceClassLabel()): ?>
            <span class="<?= $resource->resourceClass()->term() ?>" aria-label="<?= $translate($resourceClassLabel) ?>"><?= $translate($resourceClassLabel) ?></span>
            <?php endif; ?>
        </div>
        <div class="resource-metadata resource-meta">
            <?= $item->linkRaw($heading) ?>
            <div class="description"><?= $escape($body) ?></div>
        </div>
        <div class="date">
            <?php if ($value = $item->value('dcterms:date')): ?>
            <?= $escape($value) ?>
            <?php endif; ?>
        </div>
    </li>
    <?php endforeach; ?>
</ul>
<div class="browse-controls">
    <?= $this->pagination() ?>
</div>
<?php $this->trigger('view.browse.after'); ?>
