<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\ItemRepresentation $item
 * @var \Omeka\Api\Representation\ItemRepresentation $resource
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$siteSetting = $plugins->get('siteSetting');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');

$citation = $plugins->has('citation') ? $plugins->get('citation') : null;
$contactUs = $plugins->has('contactUs') ? $plugins->get('contactUs') : null;
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;
// $accessStatus = $plugins->has('accessStatus') ? $plugins->get('accessStatus') : null;
$isAllowedMediaContent = $plugins->has('isAllowedMediaContent') ? $plugins->get('isAllowedMediaContent') : null;

$this->htmlElement('body')->appendAttribute('class', 'item resource show');

$embedMediaSetting = $siteSetting('item_media_embed');
$itemMedia = $item->media();
/*
if ($embedMediaSetting == 1) {
    $sortedMedia = $this->SortMedia($itemMedia);
    $lightMedia = (isset($sortedMedia['lightMedia'])) ? $sortedMedia['lightMedia'] : null;
    $otherMedia = (isset($sortedMedia['otherMedia'])) ? $sortedMedia['otherMedia'] : null;
} else {
    $otherMedia = $itemMedia;
}
*/

$primaryMedia = $item->primaryMedia();

$viewing = $themeFunctions->mainViewerAndLinks($resource, true);
$viewer = $item->value('curation:viewer');
$viewer = $viewer ? $viewer->value() : null;

$itemSets = $item->itemSets();
$itemSet = $itemSets ? reset($itemSets) : null;

// TODO Ne gère qu'un seul media actuellement.
$isAllowed = $isAllowedMediaContent ? $isAllowedMediaContent($primaryMedia) : true;

$accessFormItem = (bool) $themeSetting('access_form_item');
?>

<?php if ($breadcrumbs): ?>
    <?= $breadcrumbs() ?>
<?php else: ?>
<nav id="breadcrumb" class="breadcrumbs">
    <ul>
        <li><?= $hyperlink($translate('Home'), $site->siteUrl()) ?></li>
        <li><?= $hyperlink($translate('Collections'), $siteSetting('menu_breadcrumbs_collections_url') ?:$url('site/resource', ['site-slug' => $site->slug(), 'controller' => 'item-set'])) ?></li>
        <?php if ($itemSet): ?>
        <li><?= $itemSet->link($itemSet->displayTitle()) ?></li>
        <?php endif; ?>
        <li><span><?= $escape($item->displayTitle()) ?></span></li>
    </ul>
</nav>
<?php endif; ?>

<div class="back-to-item-sets">
    <?= $hyperlink($translate('Retour'), $siteSetting('menu_breadcrumbs_collections_url') ?:$url('site/resource', ['site-slug' => $site->slug(), 'controller' => 'item-set'])) ?>
</div>

<?= $this->pageTitle($item->displayTitle(), 2) ?>
<h3><?= $this->translate('Item') ?></h3>

<div>

    <?php $this->trigger('view.show.before'); ?>

    <div class="viewers-and-properties">

        <div class="viewers">
            <?php if (!$isAllowed): ?>

                <?php if ($message = $themeSetting('access_message')): ?>
                <?php
                $replace = [
                    '{current_url}' => rawurlencode($resource->siteUrl(null, true)),
                    '{id}' => $resource->id(),
                ];
                ?>
                <div class="message-access">
                    <?= str_replace(array_keys($replace), array_values($replace), $message) ?>
                </div>
                <?php endif; ?>

                <?php if ($accessFormItem): ?>
                <?= $this->accessRequest($resource) ?>
                <?php endif; ?>

            <?php elseif ($embedMediaSetting): ?>

                <?php if ($viewer): ?>
                    <?php if ($viewer === 'pdf' && !empty($viewing['pdf'])): ?>
                        <?php foreach ($viewing['pdf'] as $media): ?>
                        <?= $media->render() ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                <?php elseif ($viewing['viewer'] === 'lightGallery'): ?>
                <?= $themeFunctions->lightGallery($resource, ['viewing' => $viewing]) ?>
                <?php //= $this->LightGalleryOutput($lightMedia) ?>
                <?php elseif (!empty($viewing['is_iiif'])): ?>
                <?= $this->{$viewing['viewer']}($resource) ?>
                <?php else: ?>
                <?php foreach ($viewing['all'] as /* $mediaId => */ $media): ?>
                    <?= $media->render() ?>
                <?php endforeach; ?>
                <?php endif; ?>

            <?php else: ?>

                <?php /*
                <?php if (!empty($otherMedia)): ?>
                    <div id="other-media" class="property">
                        <h4><?= $this->translate('Other Media') ?></h4>
                        <div class="values">
                            <?php foreach($otherMedia as $media): ?>
                                <div class="value">
                                    <?= $media->linkPretty() ?>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div id="other-media" class="property">
                <?php endif; ?>
                */ ?>
                <?php if (!empty($viewing['links'])): ?>
                    <div id="other-media" class="property">
                        <h4><?= $this->translate('Other Media') ?></h4>
                        <div class="values">
                            <?php foreach($viewing['other_files'] as $media): ?>
                                <div class="value">
                                    <?= $media->linkPretty() ?>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div id="other-media" class="property">
                <?php endif; ?>

            <?php endif; ?>

            <?php if (!$itemMedia): ?>
            <?= $this->contactUs(['resource' => $resource, 'heading' => 'Demander l’accès à cette ressource.', '_html' => $resource->siteUrl()]) ?>
            <?php endif; ?>
        </div>

        <div class="metadata">

            <div class="metadata-menu">
                <ul class="tabs">
                    <li class="active" data-target="properties"><a href="">Description</a></li>
                    <li data-target="more-infos"><a href="">En savoir plus</a></li>
                </ul>
                <ul class="tools">
                    <li><a href="" class="share-btn">Partager</a></li>
                    <li><a href="" class="quote-btn">Citer</a></li>
                    <li><a href="" class="print-btn">Imprimer</a></li>
                    <?php if ($primaryMedia && $isAllowed): ?>
                    <li>
                        <a href="" class="download-btn" data-url="<?= $primaryMedia->originalUrl() ?>" data-size="<?= $primaryMedia->size() ?>" download="<?= $primaryMedia->id() . '.' . $primaryMedia->extension() ?>" target="_self">
                            <?= $translate('Télécharger') ?>
                        </a>
                    </li>
                    <?php endif; ?>
                </ul>
                <?php if ($socialMedias = $themeFunctions->shareLinks($resource)): ?>
                <ul class="tools-tool tools-shar share-tooltip share__tooltip">
                    <?php foreach ($socialMedias as /*$social => */ $attrs): ?>
                    <li>
                        <a <?= $themeFunctions->arrayToAttributes($attrs) ?>></a>
                    </li>
                   <?php endforeach; ?>
                </ul>
                <?php endif; ?>
                <div class="tools-tool tools-quote text-wrapper">
                    <?= $quoteCitation = ($citation ? $citation($resource, ['append_date' => true, 'tag' => 'p']) : $this->partial('common/citation', ['resource' => $resource, 'append_date' => true, 'tag' => 'p'])) ?>
                </div>
            </div>

            <div class="properties tab-panel active-tab-panel">
                <?= $item->displayValues(['selected' => true]) ?>

                <?php if (count($itemSets) > 0): ?>
                <dl class="property">
                    <dt><?= $this->translate('Item sets') ?></dt>
                    <?php foreach ($item->itemSets() as $itemSet): ?>
                    <dd class="value"><a href="<?= $escape($itemSet->url()) ?>"><?= $itemSet->displayTitle() ?></a></dd>
                    <?php endforeach; ?>
                </dl>
                <?php endif; ?>

                <div class="show-all-properties-toggle">
                    <a href="">
                        <span>Voir tout</span>
                        <span>Voir moins</span>
                    </a>
                </div>
            </div>

            <div class="more-infos tab-panel ">
                <?= $item->displayValues() ?>

                <?php if (count($itemSets) > 0): ?>
                <dl class="property">
                    <dt><?= $this->translate('Item sets') ?></dt>
                    <?php foreach ($item->itemSets() as $itemSet): ?>
                    <dd class="value"><a href="<?= $escape($itemSet->url()) ?>"><?= $itemSet->displayTitle() ?></a></dd>
                    <?php endforeach; ?>
                </dl>
                <?php endif; ?>
            </div>

            <dl class="quote property">
                <dt>Citer ce document</dt>
                <dd class="values"><?= $quoteCitation ?></dd>
            </dl>
        </div>

    </div>

    <?php
    $page = $this->params()->fromQuery('page', 1);
    $property = $this->params()->fromQuery('property');
    $subjectValues = $item->displaySubjectValues([
        'page' => $page,
        'perPage' => 25,
        'resourceProperty' => $property,
    ]);
    ?>
    <?php if ($subjectValues): ?>
        <div id="item-linked">
            <h3><?= $translate('Linked resources') ?></h3>
            <?= $subjectValues ?>
        </div>
    <?php endif; ?>

    <?php $this->trigger('view.show.after'); ?>

</div>
