<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\SitePageRepresentation $page
 * @var string $pageBodyClass "page" and "site-page-" + page slug
 * @var bool $displayNavigation Always true when called directly
 * @var \Laminas\View\Helper\ViewModel $content Html of the blocks
 */

// Ne pas afficher le fil d'Ariane sur la page d'accueil.
// TODO Supprimer et n'utiliser que l'option du module BlockPlus. Ou via css ?

$plugins = $this->getHelperPluginManager();
$siteSetting = $plugins->get('siteSetting');
$themeFunctions = $plugins->get('ThemeFunctions');

$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : null;

$this->headLink()->appendStylesheet($this->assetUrl('css/page-blocks.css', 'Omeka'));
$this->htmlElement('body')->appendAttribute('class', $pageBodyClass);
$this->pageTitle($page->title(), 2);

$isHomePage = $themeFunctions->isHomePage();

$nav = $site->publicNav();
$container = $nav->getContainer();
$activePage = $nav->findActive($container);

switch ($siteSetting('subnav_display')) {
    case 'show';
        $displaySubnav = $displayNavigation;
        break;
    case 'hide':
        $displaySubnav = false;
        break;
    default:
        $displaySubnav = $displayNavigation && $activePage && $activePage['page']->hasPages();
}

$showPagePagination = $this->siteSetting('show_page_pagination', true);

// Breadcrumbs & sub-menu.

if (!$isHomePage):
?>
    <?php if ($breadcrumbs): ?>
        <?= $breadcrumbs() ?>
    <?php else: ?>
    <nav class="breadcrumbs" aria-label="<?= $this->translate('Breadcrumb')?>"><?= $nav->breadcrumbs() ?></nav>
    <?php endif; ?>

    <?php if ($activePage && $displaySubnav): ?>
    <nav class="sub-menu"><?= $nav->menu()->renderSubMenu() ?></nav>
    <?php endif; ?>
<?php endif; ?>

<?php $this->trigger('view.show.before'); ?>
<div class="blocks">
    <?= $this->content ?>
</div>
<?php $this->trigger('view.show.after'); ?>

<?php if ($showPagePagination): ?>
<?= $this->sitePagePagination() ?>
<?php endif; ?>
