<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var string $resourceType
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $heading
 * @var string $html
 * @var string $linkText
 * @var array $components
 * @var array $query
 * @var array $sortHeadings
 * @var array|false $pagination
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$layoutSetting = $this->themeSetting('browse_layout', 'grid');
$gridState = ($layoutSetting == 'togglegrid') ? 'disabled' : '';
$listState = ($layoutSetting == 'togglelist') ? 'disabled': '';
$currentLayout = (strpos($layoutSetting, 'grid') !== false) ? 'grid' : 'list';
$resources = $this->resources;
$resourceCount = count($resources);

$this->headScript()->appendFile($this->assetUrl('js/browse.js'));

$untitled = $translate('[Untitled]');

$showThumbnail = in_array('thumbnail', $components);
$showHeading = in_array('resource-heading', $components);
$showBody = in_array('resource-body', $components);
$headingTerm = $this->siteSetting('browse_heading_property_term');
$bodyTerm = $this->siteSetting('browse_body_property_term');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$lang, ''] : null;
?>

<div class="preview-block browse">

    <?php if ($heading): ?>
    <h2><?= $escape($heading) ?></h2>
    <?php endif; ?>

    <?php if (!empty($html)): ?>
    <?= $html ?>
    <?php endif; ?>

    <?php if (strpos($layoutSetting, 'toggle') !== false): ?>
    <div class="browse-controls">
        <div class="layout-toggle">
            <button type="button" aria-label="<?= $translate('Grid') ?>" class="grid o-icon-grid" <?= $gridState ?>></button>
            <button type="button" aria-label="<?= $translate('List') ?>" class="list o-icon-list" <?= $listState ?>></button>
        </div>
    </div>
    <?php endif; ?>


    <ul class="resource-list preview <?php echo $currentLayout; ?> resource-count-<?= $resourceCount ?>">
    <?php
    foreach ($resources as $resource):
        $heading = $headingTerm ? $resource->value($headingTerm, ['default' => $untitled, 'lang' => $valueLang]) : $resource->displayTitle(null, $valueLang);
        $body = $bodyTerm ? $resource->value($bodyTerm, ['lang' => $valueLang]) : $resource->displayDescription(null, $valueLang);
    ?>
        <li class="<?= $this->resourceType ?> resource">
            <?= $this->siteSetting('browse_body_property_term') ?>
            <?php
            $linkContent = '';
            if ($showThumbnail):
                echo $resource->linkRaw($thumbnail($resource, 'medium', ['title' => $heading]), null, ['class' => 'thumbnail']);
            endif;
            if ($showHeading || $showBody):
                echo '<div class="resource-meta">';
                if ($showHeading):
                    $linkContent .= '<span class="resource-name">' . $escape($heading) . '</span>';
                endif;
                if ($linkContent !== ''):
                    echo $resource->linkRaw($linkContent, null, ['class' => 'resource-link']);
                endif;
                if ($showBody && $body):
                echo '<div class="description">' . $escape($body) . '</div>';
                endif;
                echo '</div>';
            endif;
            ?>
        </li>
    <?php endforeach; ?>
    </ul>

    <?php
    if ($this->linkText):
        echo $this->hyperlink($this->linkText, $this->url(
            'site/resource', ['controller' => $this->resourceType, 'action' => 'browse'], ['query' => $this->query], true
        ));
    endif;
    ?>

</div>
