<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var \Omeka\Api\Representation\ItemSetRepresentation[] $itemSets
 * @var string $thumbnailType
 * @var string $showTitleOption
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$api = $plugins->get('api');
$translate = $plugins->get('translate');
$hyperlink = $plugins->get('hyperlink');
$thumbnail = $plugins->get('thumbnail');
$themeSetting = $plugins->get('themeSetting');
$translatePlural = $plugins->get('translatePlural');

$defaultThumbnail = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
$defaultThumbnail = '<img src="' . $defaultThumbnail . '"/>';

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $filterLocale ? $this->lang() : null;

$pageItemSets = (int) $themeSetting('page_item_sets');
if ($pageItemSets) {
    try {
        /** @var \Omeka\Api\Representation\SitePageRepresentation $page */
        $page = $api->read('site_pages', ['id' => $pageItemSets])->getContent();
        $allCollectionsUrl = $page->siteUrl();
    } catch (Exception $e) {
    }
}
$allCollectionsUrl ??= $url('site/resource', ['site-slug' => $block->page()->site()->slug(), 'controller' => 'item-set']);
?>

<div class="block item-set-showcase no-slick">
    <div class="resources-header">
        <?= $hyperlink('Voir toutes les collections', $allCollectionsUrl) ?>
    </div>
    <?php
    foreach ($itemSets as $itemSet):
        $render = null;
        $title = null;
        $link = null;

        $itemSetThumbnail = $thumbnail($itemSet, $thumbnailType) ?: $defaultThumbnail;
        $render = $itemSet->linkRaw($itemSetThumbnail);

        if ($showTitleOption !== 'no_title'):
            $title = $itemSet->displayTitle(null, $lang);
            $link = $itemSet->link($title);
        endif;

        $isNew = $itemSet->value('curation:new');
        $itemCount = $itemSet->itemCount();
    ?>
    <div class="item-set resource">
        <div class="resource-header">
            <?php if ($isNew): ?>
            <div class="resource-flag-new">
                <?= $translate('New') ?>
            </div>
            <?php endif; ?>
            <div class="resource-count">
                <?php if ($itemCount): ?>
                <?= sprintf($translatePlural('%d fichier', '%d fichiers', $itemCount), $itemCount) ?>
                <?php else: ?>
                <?= $translate('Pas de fichiers') ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="resource-content">
            <?= $render ?>
            <?= $link ?>
            <div class="caption">
                <?= $itemSet->displayDescription(null, $lang) ?>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
</div>
