<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $resourceType
 * @var string $heading
 * @var string $linkText
 * @var array $components
 * @var array $query
 * @var array $sortHeadings
 * @var array|false $pagination
 *
 * @link http://sorgalla.com/jcarousel
 * @copyright 2014, Jan Sorgalla
 * @license MIT
 */

$plugins = $this->getHelperPluginManager();
// $url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
// $escapeAttr = $plugins->get('escapeHtmlAttr');
// $hyperlink = $plugins->get('hyperlink');

$siteSlug = $plugins->get('Laminas\View\Helper\ViewModel')->getRoot()->getVariable('site')->slug();

// $showThumbnail = in_array('thumbnail', $components);
// $showHeading = in_array('resource-heading', $components);
// $showBody = in_array('resource-body', $components);
$headingTerm = $this->siteSetting('browse_heading_property_term');
// $bodyTerm = $this->siteSetting('browse_body_property_term');
$untitled = $translate('[Untitled]');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $filterLocale ? $this->lang() : null;
$langValue = $filterLocale ? [$lang, ''] : null;

$idSuffix = substr(str_replace(['+', '/', '='], ['', '', ''], base64_encode(random_bytes(128))), 0, 6);

$configs = [
    'carousel' => [
        'showTitles' => false,
        'animation' => 1000,
        'wrap' => 'circular',
    ],
    'autoscroll' => [
        'interval' => 5000,
    ],
];

$script = sprintf(<<<'JS'
    (function($) {
        $(document).ready(function() {
            $('#slick-%s').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
            });
        });
    })(jQuery)
    JS, $idSuffix);

$this->headLink()
    ->appendStylesheet($assetUrl('vendor/slick/slick/slick.css', 'BlockPlus'));
$this->headScript()
    ->appendFile($assetUrl('vendor/slick/slick/slick.min.js', 'BlockPlus'), 'text/javascript', ['defer' => 'defer'])
    ->appendScript($script);
?>

<div class="block preview-block">
<div class="slick-wrapper">
    <div id="slick-<?= $idSuffix ?>" class="slick">
        <ul>
            <?php foreach ($resources as $resource):
                $heading = $headingTerm ? $resource->value($headingTerm, ['default' => $untitled, 'lang' => $langValue]) : $resource->displayTitle(null, $lang);
                $resourceUrl = $resource->siteUrl($siteSlug);
            ?>
            <li>
                <?= $resource->linkRaw($thumbnail($resource, 'medium', ['title' => $heading]), $resourceUrl, ['class' => 'shortcode-carousel-image']) ?>
                <?php if (isset($configs['carousel']['showTitles']) && $configs['carousel']['showTitles']): ?>
                <p class="shortcode-carousel-title">
                    <?= $resource->linkRaw($escape($heading), $resourceUrl) ?>
                </p>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
</div>
</div>
