<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var string $resourceType
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $heading
 * @var string $html
 * @var string $linkText
 * @var array $components
 * @var array $query
 * @var array $sortHeadings
 * @var array|false $pagination
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$showThumbnail = in_array('thumbnail', $components);
$showHeading = in_array('resource-heading', $components);
$showBody = in_array('resource-body', $components);
$headingTerm = $siteSetting('browse_heading_property_term');
$bodyTerm = $siteSetting('browse_body_property_term');

$this->headScript()->appendFile($this->assetUrl('js/browse.js'));

$untitled = $translate('[Untitled]');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$lang, ''] : null;

$layoutSetting = $this->themeSetting('browse_layout', 'grid');
$gridState = ($layoutSetting == 'togglegrid') ? 'disabled' : '';
$listState = ($layoutSetting == 'togglelist') ? 'disabled': '';
$currentLayout = strpos($layoutSetting, 'grid') !== false ? 'grid' : 'list';

$idSuffix = substr(str_replace(['+', '/', '='], ['', '', ''], base64_encode(random_bytes(128))), 0, 6);

/*
$configs = [
    'carousel' => [
        'showTitles' => false,
        'animation' => 1000,
        'wrap' => 'circular',
    ],
    'autoscroll' => [
        'interval' => 5000,
    ],
];
 */

$script = sprintf(<<<'JS'
    (function($) {
        $(document).ready(function() {
            $('#slick-%s').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
            });
        });
    })(jQuery)
    JS, $idSuffix);

$this->headLink()
    ->appendStylesheet($assetUrl('vendor/slick/slick/slick.css', 'BlockPlus'));
$this->headScript()
    ->appendFile($assetUrl('vendor/slick/slick/slick.min.js', 'BlockPlus'), 'text/javascript', ['defer' => 'defer'])
    ->appendScript($script);
?>

<div class="preview-block browse preview-block-slider with-description">

    <?php if ($heading): ?>
    <h2><?= $heading ?></h2>
    <?php endif; ?>

    <?php
    if ($this->linkText):
        echo $this->hyperlink($this->linkText, $this->url(
            'site/resource', ['controller' => $this->resourceType, 'action' => 'browse'], ['query' => $this->query], true
        ));
    endif;
    ?>

    <?php if (strpos($layoutSetting, 'toggle') !== false): ?>
    <div class="browse-controls">
        <div class="layout-toggle">
            <button type="button" aria-label="<?= $translate('Grid');?>" class="grid o-icon-grid" <?= $gridState ?>></button>
            <button type="button" aria-label="<?= $translate('List') ?>" class="list o-icon-list" <?= $listState ?>></button>
        </div>
    </div>
    <?php endif; ?>

    <div class="parent-slider">
        <?php if ($html): ?>
        <div class="browse-preview-slider-description">
            <?= $html ?>
        </div>
        <?php endif; ?>
        <ul id="slick-<?= $idSuffix ?>" class="resource-list preview <?= $currentLayout ?>">
    <?php
    foreach ($resources as $resource):
        $heading = $headingTerm ? $resource->value($headingTerm, ['default' => $untitled, 'lang' => $langValue]) : $resource->displayTitle(null, ($filterLocale ? $lang : null));
        $body = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription(null, ($filterLocale ? $lang : null));
    ?>
        <li class="<?= $this->resourceType ?> resource">
            <?php
            if ($showThumbnail):
                echo $resource->linkRaw($thumbnail($resource, 'medium', ['title' => $heading]), null, ['class' => 'thumbnail']);
            endif;?>
            <?php if ($showHeading || $showBody): ?>
            <div class="resource-meta">
                <?php
                if ($showHeading):
                    echo '<h4>' . $resource->link($heading) . '</h4>';
                endif;?>
                <?php if ($showBody && $body): ?>
                    <div class="description">
                        <?= $escape($body) ?>
                    </div>
                <?php endif; ?>
            </div>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
    </div>

</div>
