<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var string $resourceType
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation[] $resources
 * @var string $heading
 * @var string $html
 * @var string $linkText
 * @var array $components
 * @var array $query
 * @var array $sortHeadings
 * @var array|false $pagination
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
$thumbnail = $plugins->get('thumbnail');
$siteSetting = $plugins->get('siteSetting');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
$langValue = $filterLocale ? [$lang, ''] : null;

$idSuffix = substr(str_replace(['+', '/', '='], ['', '', ''], base64_encode(random_bytes(128))), 0, 6);

/*
$configs = [
    'carousel' => [
        'showTitles' => false,
        'animation' => 1000,
        'wrap' => 'circular',
    ],
    'autoscroll' => [
        'interval' => 5000,
    ],
];
 */

$script = sprintf(<<<'JS'
    (function($) {
        $(document).ready(function() {
            $('#slick-%s').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                dots: true,
            });
        });
    })(jQuery)
    JS, $idSuffix);

$this->headLink()
    ->appendStylesheet($assetUrl('vendor/slick/slick/slick.css', 'BlockPlus'));
$this->headScript()
    ->appendFile($assetUrl('vendor/slick/slick/slick.min.js', 'BlockPlus'), 'text/javascript', ['defer' => 'defer'])
    ->appendScript($script);
?>

<div class="carousel-block carousel-block-slider">
	<?php if ($this->carouselHeading): ?>
	<h2><?php echo $this->carouselHeading; ?></h2>
	<?php endif; ?>
	<div id="slick-<?= $idSuffix ?>" class="carousel">
	<?php
		foreach ($attachments as $attachment) {
			$item = $attachment->item();
			// Skip if item doesn't exist
			if (!$item) {
				continue;
			}
			$media = $attachment->media() ?: $item->primaryMedia();
			$caption = $this->showCaption == 'true' ? $attachment->caption() : '';
			$title = '';

			if ($this->showTitleOption == 'item_title') {
				$title = $item->displayTitle(null, $langValue);
			} elseif ($this->showTitleOption == 'file_name') {
				$title = $media ? $media->displayTitle(null, $langValue) : $item->displayTitle(null, $langValue);
			}

			if ($this->showTitleOption == 'no_title' && $this->showCaption == 'false') {
				$textDiv = '';
			} elseif ($this->showTitleOption == 'no_title' && $this->showCaption == 'true') {
				$textDiv = sprintf('<div class="slide-text"><div class="caption">%s</div></div>', $caption);
			} elseif ($this->showTitleOption != 'no_title' && $this->showCaption == 'false') {
				$textDiv = sprintf('<div class="slide-text"><div class="title">%s</div></div>', $title);
			} else {
				$textDiv = sprintf('<div class="slide-text"><div class="title">%s</div><div class="caption">%s</div></div>',
				$title, $caption);
			}

			if ($item) {
				$slide = $this->thumbnail($item, $this->thumbnailType) . $textDiv;
				echo '<div>' . $item->linkRaw($slide) . '</div>';
			} elseif ($media) {
				$slide = $this->thumbnail($media, $this->thumbnailType) . $textDiv;
				echo '<div>' . $item->linkRaw($slide) . '</div>';
			} else {
				$slide = $textDiv;
				echo '<div>' . $item->linkRaw($slide) . '</div>';
			}
		}
	?>
	</div>
</div>
