<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SitePageBlockRepresentation $block
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var array|null $request The user request completed with the hidden one.
 * @var array $link
 * @var bool $skipFormAction Allow to display results on same form.
 * @var bool $displayResults Display results in the same block.
 */

$plugins = $this->getHelperPluginManager();
$hyperlink = $plugins->get('hyperlink');
?>

<div class="block block-search">
    <?= $searchConfig->renderForm([
        'site' => $site,
        'template' => $displayResults ? 'search/search-form-quick' :  null,
        'skip_form_action' => $skipFormAction,
        'request' => $request,
        'variant' => 'quick',
    ]) ?>
    <?php if ($link): ?>
    <div class="block-search-link">
        <?= $hyperlink($link['label'], $link['url']) ?>
    </div>
    <?php endif; ?>
</div>
