<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Laminas\Form\Form $form
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 *
 * The quick form keeps only:
 * - the main field ("q"),
 * - the record or fulltext option ("rft"),
 * - the required and hidden elements,
 * - the button submit.
 *
 * Passed option:
 * @var string $selector
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');

$params = $this->params()->fromQuery() ?: [];
$form
    ->setData($params)
    ->prepare();
/*
foreach ($form->getElements() as $name => $element) {
    if (in_array($name, ['q', 'rft', 'submit'])
        || $element instanceof \Laminas\Form\Element\Csrf
        || $element instanceof \Laminas\Form\Element\Hidden
        || $element instanceof \Laminas\Form\Element\Submit
        || $element->getOption('required')
    ) {
        continue;
    }
    $form->remove($name);
}

foreach ($form->getFieldsets() as $name => $fieldset) {
    $form->remove($name);
}
*/

$selector ??= 'item_sets';
$searchValue = $params['q'] ?? '';
?>

<form action="<?= $escape($form->getAttribute('action')) ?>" id="search-form">
    <?php if ($selector === 'item_sets'): ?>
        <?= $this->itemSetSelect([
            'name' => 'item_set_id[]',
            'options' => [
                'empty_option' => 'Any',
                'disable_group_by_owner' => true,
                'query' => ['site_id' => $this->currentSite()->id()],
            ],
            'attributes' => [
                'value' => $params['item_set_id[]'] ?? $params['item_set_id'] ?? '',
                // 'class' => 'chosen-select',
            ],
        ]) ?>
    <?php elseif ($selector === 'resource_classes'): ?>
        <?= $this->resourceClassSelect([
            'name' => 'resource_class_id[]',
            'options' => [
                'empty_option' => 'Any',
                'used_terms' => true,
                'query' => ['site_id' => $this->currentSite()->id()],
            ],
            'attributes' => [
                'value' => $params['resource_class_id[]'] ?? $params['resource_class_id'] ?? '',
                // 'class' => 'chosen-select',
            ],
        ]) ?>
    <?php elseif ($selector === 'resource_templates'): ?>
        <?= $this->resourceTemplateSelect([
            'name' => 'resource_template_id[]',
            'options' => [
                'empty_option' => 'Any',
                'query' => ['site_id' => $this->currentSite()->id()],
            ],
            'attributes' => [
                'value' => $params['resource_template_id[]'] ?? $params['resource_template_id'] ?? '',
                // 'class' => 'chosen-select',
            ],
        ]) ?>
    <?php endif; ?>
    <input type="text" name="q" value="<?= $escape($searchValue) ?>" placeholder="<?= $translate('Search') ?>" aria-label="<?= $translate('Search') ?>">
    <button type="submit"><?= $translate('Search') ?></button>
    <?php if ($form->has('rft')): ?>
    <div class="rft">
        <?= $this->formElement($form->get('rft')) ?>
    </div>
    <?php endif; ?>
    <a class="search-advanced" href="#">Recherche avancée</a>
</form>
