//Typography

$base-font: 'Source Sans Pro', sans-serif;
$base-font-weight-semi-bold : 600;
$base-font-weight-bold : 700;
$base-font-weight-black : 900;

$base-font-size: 17px;
$base-line-height: 24px;

$base-font-size-tablet : 16px;
$base-line-height-tablet: 22px;

$base-font-size-mobile : 15px;
$base-line-height-mobile: 19px;

$title-font-size : 40px;
$title-font-size-tablet : 36px;
$title-font-size-mobile : 25px;

$header-font-size : 24px;
$header-font-size-tablet : 18px;
$header-font-size-mobile : 15px;


//Spacing

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$title-margin-top: 35px;
$title-margin-top-tablet: 25px;
$title-margin-top-mobile: 15px;

$title-padding-bottom: 20px;
$title-padding-bottom-tablet: 15px;
$title-padding-bottom-mobile: 12px;

$title-margin-bottom: 25px;
$title-margin-bottom-tablet: 25px;
$title-margin-bottom-mobile: 15px;


// Margins
$page-margin-desktop: 130px;
$page-margin-tablet: 40px;
$page-margin-mobile: 10px;

$page-padding-x-tablet: 20px;
$page-padding-x-mobile: 15px;

// Thumbnails
$thumbnail-bg-color: rgba(194, 198, 201, 0.4);
$thumbnail-ratio-grid: 100%;
$thumbnail-ratio-list: 100%;

//Colors

$red: #C72E2E;
$dark-blue: #001689;
$light-blue: #1475DB;
$gray: #dedede;
$dark-gray: #2d2d2d;
$light-gray: #5b6770;
$purple: #8d0e57;
