/* @group ----- Containers ----- */

#wrap,
footer {
    padding: 0 $spacing-l;
}

/* @end */

/* @group ----- Forms ----- */

.field .label,
.field label,
.field .field-meta,
.media-list {
    width: 100%;
    text-align: left;
    margin-bottom: $spacing-s;
}

.field .inputs{
    width: 100%;
}

/* @end */

/* group ----- Navigation ----- */

.pagination-nav,
#sort-links {
    width: 100%;
    text-align: center;
    padding: ($spacing-s - 1px) 0 $spacing-s;
    border-bottom: 1px solid $gray;
}

.pagination-nav ul,
#sort-links ul {
    margin: 0;
}

#content .sub-menu {
    width: 100%;
}

/* @end */

/* @group ----- Header ----- */

header > h1,
.site-title {
    margin: $spacing-s 0;
    line-height: 1.5 * $base-line-height;
}

.site-title img {
    max-height: $spacing-l;
    max-width: calc(100% - #{1.75 * $spacing-l});
}

#search-container {
    top: -(.25 * $spacing-l);
}

#top-nav ul {
    margin: $spacing-m 0;
}

header nav .navigation {
    justify-content: center;
    flex-wrap: wrap;
    margin: $spacing-m 0;
}

.sub-nav.first {
    max-width: 100%;
    margin: 0;
}

.first.open.sub-nav > ul > li > ul > li {
    width: 100%;
}

#content > h2 {
    margin: $spacing-m 0;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    margin: $spacing-l 0;
    padding: 0;
}

/* @end */

/* @group ----- Browse ----- */

.browse-controls {
    flex-direction: row;

    & > * {
        margin: $spacing-s 0;
    }

    .pagination {
        order: 1;
    }

    .sorting {
        order: 2;
    }
}

.browse .records {
    padding: $spacing-l 0;
}

.browse .grid.resource-list {
    justify-content: flex-start;
    margin: 0 (-1 * $spacing-m);
}

.browse .grid .resource {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: $spacing-m - 1px;
    margin-bottom: $spacing-l;
    align-content: flex-start;

    .thumbnail {
        width: 100%;
        margin: 0 0 $spacing-m 0;
    }
}

.browse .list .resource {
    display: block;
    overflow: hidden;

    .thumbnail {
        width: 100%;
        margin: 0 0 $spacing-m 0;
        display: block;
    }
}

.browse .resource-list h4 {
    margin-top: 0;
}

/* @end */

/* @group ----- Show ----- */

.resource.show dt,
.resource.show dt ~ dd,
.media-list dt ~ .resource-link,
#linked-filter,
#linked-resources .pagination,
#linked-resources > dt,
#linked-resources .linked-resource {
    width: 100%;
    text-align: left;
}

.resource.show .property > dt,
.resource.show dt  ~ dd.value {
    padding: 0;
}

.resource.show dl dt,
.resource.show dt ~ dd,
.media-list dt ~ .resource-link,
.resource.show .collapsible .property {
    padding-left: $spacing-m;
}

.resource.show .collapsible .property:not(:last-child) {
    margin-bottom: $spacing-m;
}

.resource.show .property > dt {
    margin-bottom: $spacing-s;
}

.resource.show .property dl dt {
    margin-bottom: 0;
}

.linked-header,
.linked-footer {
    flex-wrap: wrap;
    margin-bottom: 0;
}

#linked-filter {
    margin-bottom: $spacing-l;
}

#linked-resources .resource-class {
    flex: 1;
    text-align: center;
}

#linked-resources .resource-link {
    flex: 2;
}

.media-embeds * {
    max-width: 100%;
    height: auto;
}

.media-embeds .file {
    margin-bottom: $spacing-l;
}

.property .value:not(:last-child) .resource-link {
    margin-bottom: 0;
}

/* @end */

/* @group ----- Search ----- */

#search-filters ul li {
    font-size: .875 * $base-font-size;
    margin: 0 (.125 * $spacing-l) $spacing-m;
}

#search-results {
    margin-top: $spacing-m;
}

.index.search .results ul {
  columns: 1;
}

.field .inputs {
    padding-left: 0;
}

.field .inputs ~ *,
form input[type="submit"] {
    margin-left: 0;
}

/* @end */

/* @group ----- Pages ----- */

.page #content .sub-menu,
.page #content .sub-menu ~ *:not(.site-page-pagination) {
    position: static;
    width: 100%;
    padding: 0;
}

#content .blocks h2:first-child {
    margin-top: 0
}
/* @end */


/* @group ----- Pages ----- */

.page #content .block-asset.assets.left {
    float: none !important;
    width: 100% !important;
    max-width: 100% !important;
}


/* @end */
