<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 *
 * @var \Omeka\View\Helper\ThemeSetting $themeSetting
 * @var \Laminas\View\Helper\EscapeHtmlAttr $escapeAttr
 * @var string $footerMenu
 */

$linkTwitter = $themeSetting('link_twitter');
$linkInstagram = $themeSetting('link_instagram');
$linkPinterest = $themeSetting('link_pinterest');
$linkFacebook = $themeSetting('link_facebook');

$fixHtmlMenu = <<<'HTML'
</li>
        </ul>
    </li>
    <li>
        
        <ul>
            <li>
HTML;
?>

<div class="footer-content">
    <ul class="footer-columns">
        <?php if ($footerMenu): ?>
        <?php $replace = [
            '<span> </span>' => '',
            '<li class="active">' => '<li>',
            $fixHtmlMenu => "</li>\n</ul>\n<ul>\n<li>",
            '<a href="http://univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="http://www.univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="http://www.univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https://univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https://www.univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https://www.univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="http&#x3A;&#x2F;&#x2F;univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="http&#x3A;&#x2F;&#x2F;www.univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="http&#x3A;&#x2F;&#x2F;www.univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https&#x3A;&#x2F;&#x2F;univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https&#x3A;&#x2F;&#x2F;www.univ-paris3.fr/">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
            '<a href="https&#x3A;&#x2F;&#x2F;www.univ-paris3.fr">' => '<a href="https://www.univ-paris3.fr" class="main-logo">',
        ]; ?>
        <?= str_replace(array_keys($replace), array_values($replace), mb_substr($footerMenu, mb_strpos($footerMenu, '>') + 1, -5)) ?>
        <?php else: ?>
        <li>
            <a href="http://www.univ-paris3.fr/" class="main-logo">Sorbonne Nouvelle</a>
        </li>
        <li>
            <ul>
                <li><a href="">Contact</a></li>
                <li><a href="">Crédits</a></li>
                <li><a href="">Réutiliser nos collections</a></li>
            </ul>
            <ul>
                <li><a href="">Index</a></li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Politique de confidentialité</a></li>
            </ul>
            <ul>
                <li><a href="">Partenaires</a></li>
                <li><a href="">Plan du site</a></li>
            </ul>
        </li>
        <?php endif; ?>
        <li>
            <div>
                <?= $themeSetting('links_text') ?>
                <ul class="social-links">
                    <?php if ($linkTwitter): ?>
                    <li><a href="<?= $escapeAttr($linkTwitter) ?>" class="twitter-logo">Twitter</a></li>
                    <?php endif; ?>
                    <?php if ($linkInstagram): ?>
                    <li><a href="<?= $escapeAttr($linkInstagram) ?>" class="instagram-logo">Instagram</a></li>
                    <?php endif; ?>
                    <?php if ($linkPinterest): ?>
                    <li><a href="<?= $escapeAttr($linkPinterest) ?>" class="pintereset-logo">Pinterest</a></li>
                    <?php endif; ?>
                    <?php if ($linkFacebook): ?>
                    <li><a href="<?= $escapeAttr($linkFacebook) ?>" class="facebook-logo">Facebook</a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="footer-logos">
        <li><a href="" class="canopee-logo">Canopé</a></li>
        <li><a href="" class="persee-logo">Collex Persée</a></li>
        <li><a href="" class="fonte-gaia-logo">Fonte Gaia</a></li>
        <li><a href="" class="grenoble-alpes-logo">Université Grenoble Alpes</a></li>
        <li><a href="" class="gallica-logo">BNF Gallica</a></li>
        <li><a href="" class="unistra-logo">Université de Strasbourg</a></li>
        <li><a href="" class="padiva-logo">Université de Padiva</a></li>
        <li><a href="" class="antilles-logo">Université des Antilles</a></li>
        <li><a href="" class="sapienza-logo">Sapienza - Université de Rome</a></li>
    </ul>
</div>
